<p style="color: green"><%= notice %></p>

<h1>Todo entries</h1>

<div id="todo_entries">
  <% @todo_entries.each do |todo_entry| %>
    <%= render todo_entry %>
    <p>
      <%= link_to "Show this todo entry", todo_entry %>
    </p>
  <% end %>
</div>

<%= link_to "New todo entry", new_todo_entry_path %>
