<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header"><h2>Create New Task</h2></div>
  <div class="card-body">
    <%= form_with model: @todo_entry, method: :post, url: todo_list_todo_entries_path, local: true do |todo_entry_form| %>
      
        <%=render 'form_template', todo_entry_form: todo_entry_form %>

        <%= todo_entry_form.submit("Create", :class => "btn btn-primary") %> 
        <%= link_to("Back", todo_lists_path, :class => "btn btn-secondary") %>
      <% end %>
  </div>
</div>


