<div id="main">
    <div class="row">
        <div class="col-md">
        </div>
    </div>


    <table class="table">
        <thead class="thead-light">
            <tr class="todo_header">
                <th>@todo_entries.priority</th>
                <th>@todo_entries.category</th>
                <th>@todo_entries.due_at</th>
            </tr>
        </thead>
    </table>
        